.contendedor-root{
    width: 100%;
    height: 100%;
    position: fixed;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
:host {
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

