body {
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.contenedor {
    background-color: rgba(124, 27, 27, 0.8); 
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    border-color: #000;
}


.tablero {  
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    width: max-content;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color: #442100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;
}

.cuadrado:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.circulo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;  
    background-color: rgb(100, 67, 5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    background-image: url('images.jpg');
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.num {
    text-align: center;
    color: #fafafa;
    font-size: 18px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #666;
}


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}