.example-spacer {
  flex: 1 1 auto;
}
.opcion{
    cursor: pointer;
}
.opcion:hover{
    font-weight: 700;
    text-shadow: 1%;
}

.nav-halloween{
  background-color: rgb(116, 10, 15); 
  color: white; 
}
.nav-navidad{
  background-color: rgb(54, 18, 185); 
  color: white; 
}

@media (max-width: 1000px) {
  .opcion2 {
    display: none;
  }
}

@media (min-width: 1000px) {
  .opcion1 {
    display: none;
  }
}